*{
  box-sizing: border-box;
}
.container-headertop{
  padding-left: 20%;
  padding-right: 20%;
  line-height: 41px;
  height: 41px;
  background-color: #2fae17;
}

.container-headerbot{
  padding-left: 20%;
  padding-right: 20%;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.body{
  padding-left: 20%;
  padding-right: 20%;
  background-color: #eeeeee;
}
.footer{
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
}
@media (min-width: 1200px){
.ant-col-xl-10 {
    display: flex !important;
    max-width: 20% !important;
  }
}
.picture-banner{
  object-fit: cover;
  max-width: 100%;
}

.input{
    padding-top: 5px;
}
.right{
  float: right;
}
.footer-img{
  max-width: 100%;
  object-fit : cover;
  width: 131px;
  height: 50px;
  position: absolute;
  right: 5px;
  bottom: 30px;
}
